@import url(https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap);

* {
  font-family: "Comic Relief", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-color: #fffffe;
  --secundary-color: #965d62;
  --teritiary-color: #4f3e47;
  --background-color: #2b222c;
  --button-color: #f2d974;
  --other-color: #c7956d;
  --spacing: 20px;
}

body {
  background-color: var(--background-color);
  background-position: center;
  color: var(--other-color);
  overflow-x: hidden;
  width: 100vw;
  display: grid;
}

header > nav {
  background-color: var(--teritiary-color);
  border-radius: var(--spacing);
  border: 1px solid #010806;
  padding: var(--spacing);
  margin: 20px 40px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-comienzo {
  display: flex;
  justify-content: center;
  gap: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.5s;
}

a img {
  width: 50px;
  transition: transform 0.5s ease;
}

a img:hover {
  transform: scale(1.2);
}

h1 {
  text-transform: uppercase; /* Mayusculas */
  text-align: center;
  color: var(--other-color);
  -webkit-text-stroke: 3px rgb(5, 61, 2); /* Borde al texto */
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5); /* Sombra texto */
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  margin-bottom: var(--spacing);
  font-size: 45px;
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5); /* Sombra texto */
}

@media screen and (min-width: 1200px) { /* Tamaño GRANDE */
  .hero {
    display: grid;
    grid-template-columns: 28% 22% 27% 20%;
    gap: var(--spacing);
    grid-template-areas: "descripcion1 imagencentro descripcion2 motos";
  }

  .motos6 {
    grid-area: motos;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 40px;
    justify-content: space-evenly; /* Centra las columnas */
    gap: var(--spacing);
  }

  .cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "honda yama kawa";
  }

  .descripciontop {
    text-align: justify;
    margin: 20px 40px 100px 20px;
  }
}

@media screen and (max-width: 1199px) { /* Tamaño INTERMEDIO */
  .hero {
    display: grid;
    grid-template-columns: auto;
    gap: var(--spacing);
    grid-template-areas:
      "descripcion1 imagencentro"
      "motos descripcion2";
  }

  .motos6 {
    grid-area: motos;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }

  .descripciontop {
    text-align: justify;
    margin: 20px 40px 100px 20px;
  }

  .descripcion2 {
    padding-right: var(--spacing);
  }

  .cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);
    grid-template-areas:
      "honda kawa"
      "yama yama";
  }
}

@media screen and (max-width: 699px) { /* TAMAÑO MOVIL */
    .motos6 {
    grid-area: motos;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  .cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);
    grid-template-areas:
      "honda honda"
      "kawa kawa"
      "yama yama";
  }

  .descripciontop {
    text-align: justify;
    margin: 20px 40px 100px 20px;
  }
}

.descripcion1 {
  grid-area: descripcion1;
  display: flex;
  text-align: justify;
  align-items: center;
  padding-left: var(--spacing);
}

.imagencentro {
  grid-area: imagencentro;
  display: grid;
  align-items: center;
  justify-content: center;
}

.topmotos {
  width: 300px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 10px 10px 20px #010806;
  border: 3px solid var(--secundary-color);
  display: grid;
}

.descripcion2 {
  display: flex;
  grid-area: descripcion2;
  text-align: justify;
  align-items: center;
}

div > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #010806;
  border: 3px solid var(--secundary-color);
}

#top {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

.marcas {
  font-size: 25px;
}

.honda {
  grid-area: honda;
}

.yamaha {
  grid-area: yama;
}

.kawa {
  grid-area: kawa;
}

div > h3 {
  text-align: center;
  margin: var(--spacing);
}

.fotostop {
  display: flex;
  justify-content: space-evenly;
}

.registrate {
  margin: 0 auto;
  border: 3px black solid;
  width: 340px;
  padding: var(--spacing);
  border-radius: 20px;
}

.tituloregistro {
  font-size: 28px;
}

#formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columna1,
.columna2 {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing);
  gap: 3px;
}

.columna1 {
  display: flex;
  align-items: end;
  padding-right: var(--spacing);
  gap: 3px;
}

.columna2 > div > input {
  border-radius: 5px;
  background-color: rgba(115, 100, 66, 0.733);
  text-align: center;
  color: black;
  gap: 3px;
}

.enviar {
  display: flex;
  justify-content: center;
}

.boton_enviar {
  background-color: var(--other-color);
  margin-top: 20px;
  margin-bottom: 7px;
  width: 100px;
  height: 35px;
  border-radius: 50px;
}

#mensajerias {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: var(--spacing);
}

.copiright {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
