@import url(https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap);

* {
  font-family: "Comic Relief", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --rtc--primary-color: #fffffe;
  --rtc--secundary-color: #965d62;
  --rtc--teritiary-color: #4f3e47;
  --rtc--background-color: #2b222c;
  --rtc--button-color: #f2d974;
  --rtc--other-color: #c7956d;
}

body {
  background-color: var(--rtc--background-color);
  background-position: center;
  color: var(--rtc--other-color);
  overflow-x: hidden;
}

header > nav {
  background-color: var(--rtc--teritiary-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #010806;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-comienzo {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.5s;
}

a img {
  width: 50px;
  transition: transform 0.5s ease;
}

a img:hover {
  transform: scale(1.2);
}

h1 {
  text-transform: uppercase; /* Mayusculas */
  color: var(--rtc--teritiari-color);
  -webkit-text-stroke: 3px rgb(5, 61, 2); /* Borde al texto */
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5); /* Sombra texto */
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  margin-bottom: 10px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5); /* Sombra texto */
}

@media screen and (min-width: 1200px) {
  .hero {
    /*    background-color: #010806; */
    display: grid;
    grid-template-columns: 28% 25% 27% 20%;
    gap: 10px;
    grid-template-areas: "descripcion1 imagencentro descripcion2 motos";
  }

  .motos6 {
    grid-area: motos;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left; /* Centra las columnas */
    gap: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    /*   background-color: #010806; */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    grid-template-areas:
      "descripcion1 imagencentro"
      "motos descripcion2";
  }

  .motos6 {
    grid-area: motos;
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    place-items: center;
    gap: 5px;
  }
}

.descripcion1 {
  grid-area: descripcion1;
  display: flex;
  text-align: center;
  align-items: center;
}

.imagencentro {
  grid-area: imagencentro;
  display: grid;
  align-items: center;
  justify-content: center;
}

.topmotos {
  width: 300px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 10px 10px 10px #010806;
  border: 3px solid var(--rtc--secundary-color);
  display: grid;
}

.descripcion2 {
  display: flex;
  grid-area: descripcion2;
  text-align: center;
  align-items: center;
}

div > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px #010806;
  border: 3px solid var(--rtc--secundary-color);
}

.formulario {
  display: flex;
  /*   padding: 10px; */
  /*   border-radius: 20px; */
  /*  width: fit-content; */
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.columna1,
.columna2 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 5px; */
}

.columna1 {
  display: flex;
  align-items: end;
}

.enviar {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  
}

#mensajerias {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 5px;
}

.copiright {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}